﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Bordered Table</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn dark btn-outline btn-circle btn-sm"
                   > Save
                   
                </a>
               
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
            <div class="input-icon left search-student-text">
                <i class="fa fa-search tooltips" data-original-title="enter to search" data-container="body"></i>
                <input type="text" id="txtKeywords" class="width-full form-control"
                       placeholder="Please type then keyword to search"/>
            </div>
            <table id="tblList" data-unique-id="Id"></table>
        </div>
    </div>
</div>

@section scripts
{
    
    <script src="~/Areas/Admin/Views/Category/category.js"></script>
    
    Category.init($('#tblList'),$('#txtKeywords'));
}

@*<div class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-bubble font-dark"></i>
            <span class="caption-subject font-dark bold uppercase">Bordered Table</span>
        </div>
        <div class="actions">
            <div class="btn-group">
                <a class="btn dark btn-outline btn-circle btn-sm"
                > Save
                   
                </a>
               
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-scrollable">
     
        </div>
    </div>
</div>*@