﻿
@{
    ViewBag.Title = "Cqrs Notification Test";
    ViewBag.MetaDescription = "Cqrs Notification Test";
    ViewBag.MetaKeywords = "Cqrs Notification Test";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cqrs Notification Test</h2>

<input type="text" id="txtChannel" value="HomeCook.Command.User.CreateUserCommand"/>
<input type="button" value="Subscribe" onclick="DoSubscribe(false)"/>
<input type="button" value="UnSubscribe" onclick="DoSubscribe(true)"/>
<br/>
<input type="text" id="txtMsg"/> <input type="button" value="Send" onclick="DoSend()"/>

@section scripts
{
    <script>
        CqrsCommandNotification.subscribe($('txtChannel').val());
    </script>
    
    <script>
        function DoSubscribe(isUnsubscribe) {
            var channel = $('#txtChannel').val();
           if (isUnsubscribe) {
               CqrsCommandNotification.unSubscribe(channel);
           } else {
               CqrsCommandNotification.subscribe(channel);
           }
        }
        function DoSend() {
            $.post('/Admin/NotificationTest/Send',
                    {
                        msg: $('#txtMsg').val()
                        , clientId: $('#txtChannel').val()
                    })
                .done(function(data) {
                    if (data.Ok) {
                        //toastr.warning(data.Message,"Đã gửi msg thảnh công");
                    } else {
                        toastr.error(data.Message);
                    }
                }).fail(function () {
                  
                });
        }
    </script>
}
