﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<select id="selectCategory"></select>


@section scripts{
    <script>
        
        var $selectForm= $('#selectCategory').select2({
            ajax: {
                url: "/BettingManager/ListCategory",
                dataType: 'json',
                delay: 0,
                data: function (params) {
                    return {
                        q: params.term, // search term
                        page: params.page
                    };
                },
                processResults: function (data, params) {

                    //params.page = params.page || 1;

                    return {
                        results: data.items
                        //pagination: {
                        //    more: (params.page * 30) < data.total_count
                        //}
                    };
                    //$selectUser.val("CA").trigger("change");
                }
            },
            allowClear: true,
            cache: false,
            escapeMarkup: function (markup) { return markup; },
            templateResult: function (data) {
                //if(data.Id)
                //    return data.FullName + " (" + data.Email + ")";

                return data.text;
            },
            templateSelection: function (data) {
                //if (data.Id)
                //    return data.FullName + " (" + data.Email + ")";

                return data.text;
            }
        });
    </script>
}